:root {
	--red: #ee0e0e;
	--b-radius: 3px;
}

html {
	box-sizing: border-box;
}

body {
	background-color: #0a0a0a;
	margin: 0;
}

button {
	cursor: pointer;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.change-squares-per-side {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 6px 12px;
	background-color: var(--red);
	border: 0;
	border-radius: var(--b-radius);
}

.change-squares-per-side:hover {
	filter: brightness(92%);
}

.squares-container {
	width: 550px;
	max-width: 100%;
	border: 30px solid var(--red);
	border-radius: var(--b-radius);
	display: flex;
	flex-wrap: wrap;
}

.square {
	aspect-ratio: 1 / 1;
	background-color: #fff;
}
